<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>584220329874-ils5k0rft4u2f1jvilcc4k1u0cjrgt0p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.584220329874-ils5k0rft4u2f1jvilcc4k1u0cjrgt0p</string>
	<key>API_KEY</key>
	<string>AIzaSyAX2onZaAWvvoaylZszDdhklzzTEZ1H934</string>
	<key>GCM_SENDER_ID</key>
	<string>584220329874</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.truth78.afathersblessing</string>
	<key>PROJECT_ID</key>
	<string>truth78-fathers-blessing-app</string>
	<key>STORAGE_BUCKET</key>
	<string>truth78-fathers-blessing-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:584220329874:ios:9ea717760edf38aeeaa34b</string>
</dict>
</plist>